.all {
  background-color: #059BE5;
  border-radius: 5px;
  margin-top: 5px;
}

.premium {
  background-color: green;
  border-radius: 5px;
  margin-top: 5px;
}

.superPremium {
  background-color: red;
  border-radius: 5px;
  margin-top: 5px;
}

.ScheduleBtn {
  width: 100%;
  &.MuiButton-label {
    color: black;
    display: inline-block;
    justify-content: start;
  }
}