.all {
  background-color: #059BE5;
  border-radius: 5px;
  margin-top: 5px;
}

.premium {
  background-color: green;
  border-radius: 5px;
  margin-top: 5px;
}

.superPremium {
  background-color: red;
  border-radius: 5px;
  margin-top: 5px;
}

.ScheduleBtn {
  width: 100%;
  font-size: 12px;
  padding: 2px;
}

.ScheduleBtn span {
  display: flex;
  justify-content: start;
}