.AddSchedule {
  background-color: white;
  padding: 8px;
  height: 550px;
  width: 500px;
  border-radius: 10px;
}

.ScheduleItem {
  margin-top: 32px;
  align-items: center;
}

.Icon {
  margin-right: 16px;
}